* {margin: 0;padding: 0}
	.main {margin: 0 auto;width: 600px;border:1px solid black; }
	.head {height: 100px;text-align: center;font-size: 30px;background: #33cc00;line-height: 100px;}
	form {width: 500px;margin: 0 auto;}
	label,input,button {display: block;width: 100%;font-size: 20px;height: 50px;line-height: 50px;outline: none;}
	input {border:1px solid black;border-radius: 5px;}
	#btn {display: block;width: 150px;text-align: center;border:1px;background-color: #e68a00;color: #fff;margin: 30px auto;border-radius: 5px;}
    input:focus{border:1px solid blue;}
    #btn:focus{border:1px solid blue;}